$breakpoints: (
        'baby-bear': (min-width: 320px),
        'baby-bear-only': (max-width: 767px),
        'mama-bear': (main-width: 768px),
        'papa-bear': (min-width: 1170px)
);

/// Управление отзывчивостью.
/// @access public
/// @param {String} $breakpoint - точка остановки
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @error 'Не указано значение для `#{$breakpoint}`. '
         + 'Пожалуйста, убедитесь, что точка остановки объявлена в карте `$breakpoints`.';
  }
}

@mixin container-fluid {
  width: auto;
  padding: 0 15px;

  @include respond-to('papa-bear') {
    max-width: 960px;
    width: percentage(960/1600);
    margin: 0 auto;
  }
}